@model IEnumerable<icecream.Models.Recipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlavorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeProcedure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedByAdminNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlavorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeProcedure)
            </td>
            <td>
                
                    <img src="@Html.DisplayFor(modelItem => item.ImagePath)" height="100" width="100" alt="Alternate Text" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedByAdminNavigation.AdminId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
